body {
  background-color: #ddd;
  font-family:sans-serif;
}


.shop {
  background-color:#fff;
  max-width: 500px;
  padding:15px; 
}

.card{
  background-color:#fff;
  padding:15px;
  margin-bottom:15px;
  margin-top:8px;
  overflow:hidden;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}
table tr td {
  border: 1px solid #ddd;
  border-collapse: collapse-all;
}

.card img {
  border-radius: 11px;
  margin-top: 9px;
  width: 160px;
  height: 160px
}

.card h3 {
  float:right;
  font-size:30px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.alert {
  padding: 20px;
  background-color: hsl(127, 90%, 58%);
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
alert{
  display: none;
}
table{
  border: 1px solid;
}
td{
  text-align: center;
}

  /* toaster message */
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }